@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Quicksand:wght@400;500&family=Saira:ital,wght@1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: darkcyan;
  color: white;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 20px;
  font-weight: 600;
}
.searchbox {
  height: 28px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 60px;
  display: flex;
  padding: 3px;
}
.search {
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 60px;
  padding-left: 15px;
  font-weight: 500;
}
.searchbtn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.searchbtn::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f002";
  color: white;
}
.conversion {
  display: flex;
  gap: 20px;
}
.unit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 94px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .unit {
  background: transparent;
}

/******* MAIN SECTION *************/

.main {
  height: 100%;
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "left cent right"
    "bottom bottom bottom";
}
.left-cntr {
  grid-area: left;
}
.left-set1,
.left-set2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.left-set1-sub,
.left-set2-sub {
  display: flex;
  gap: 10px;
}
.city-name {
  font-size: 34px;
  font-weight: 800;
}
.city-dayDate {
  font-size: 20px;
}
.city-time {
  font-size: 28px;
  font-weight: 500;
}

.left-set2-sub {
  justify-content: center;
  align-items: flex-end;
}
.city-wthr-temp {
  font-size: 38px;
  font-weight: 600;
}
.city-wthr-stus,
.city-wthr-feel,
.city-wthr-air {
  font-size: 22px;
  font-weight: 500;
}
.right-cntr {
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-rows: max-content;
}

.right-cntr > div {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 22px;
  gap: 10px;
}
.right-cntr > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-cntr > div > div > div:nth-child(1) {
  font-size: 16px;
}
.right-cntr > div > div > div:nth-child(2) {
  font-size: 20px;
}
.wind-speed::before {
  content: url("https://img.icons8.com/sf-regular/42/FFFFFF/wind.png");
}
.humidity::before {
  content: url("https://img.icons8.com/sf-regular/42/FFFFFF/wet.png");
}
.visibility::before {
  content: url("https://img.icons8.com/sf-ultralight/42/FFFFFF/visible.png");
}
.cloudiness::before {
  content: url("https://img.icons8.com/sf-regular/42/FFFFFF/clouds.png");
}
.sunrise::before {
  content: url("https://img.icons8.com/sf-regular/42/FFFFFF/sunrise.png");
}
.sunset::before {
  content: url("https://img.icons8.com/sf-regular/42/FFFFFF/sunset.png");
}

.bottom-cntr {
  grid-area: bottom;
}
.card-cntr {
  width: 150px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.card-mid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
}
.card-botm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.aa::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f744";
  color: white;
}

/********** FOOTER SECTION ********/

.footer {
  border-top: 1px solid var(--terinary-bg-color);
  color: var(--secondary-drgreen-accent);
  padding: 10px 0px 4px 0px;
  font-size: 16px;
  text-align: center;
}
.odin {
  /* color: var(--primary-drgreen-accent); */
  text-decoration: none;
  color: white;
}
.fa-code {
  font-size: 16px;
  color: white;
  /* color: var(--secondary-red-accent); */
  transition: transform 0.5s ease-in-out;
}

.fa-github {
  font-size: 18px;
  /* color: var(--secondary-blue-accent); */
  color: white;
  transition: transform 0.5s ease-in-out;
}

.fa-code:hover {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.1);
}

.fa-github:hover {
  transform: rotate(720deg) scale(1.2);
}

.odin:hover {
  transform: scale(1.2);
}
